#submit-button{
  transition: transform 0.1s ease;
}

@keyframes ping {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.ping {
  animation: ping 0.3s ease;
}