.dropdown-menue {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #d8d8d8;
  width: 210px;
  height: 250px;
}
.dropdown-border {
  position: absolute;
  border-radius: 10%;
  background-color: white;
  width: 200px;
  height: 240px;
}
.dropdown-content {
  padding-left: 5px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;

  background-color: transparent;
  width: 205px;
  height: 210px;
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.dropdown-content::-webkit-scrollbar-track {
  background-color: #d8d8d8;
  border-radius: 10px;
}
